/* Main container */
.detailsContainer {
  padding: 30px;
  max-width: 1000px;
  margin: 20px auto;
  text-align: left;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  font-family: "Arial", sans-serif;
}

/* Page title */
.title {
  font-size: 1.8rem; /* Increased font size */
  margin-bottom: 40px;
  color: #2c3e50;
  font-weight: bold;
}

/* Table container */
.tableContainer {
  display: flex;
  justify-content: center; /* Centers the table horizontally */
  overflow-x: auto; /* Ensures table is scrollable on smaller screens */
}

/* Table styling */
.table {
  width: 100%; /* Adjust table width */
  max-width: 800px; /* Limits the maximum width */
  border-collapse: collapse;
  margin: 0 auto; /* Centers table in its container */
  text-align: left;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds subtle shadow */
  border-radius: 8px; /* Rounded corners */
  overflow: hidden; /* Ensures rounded corners for the table */
}

/* Table headers */
th {
  color: #333;
  font-weight: 600;
  padding: 10px;
  border: none;
}

/* Table cells */
td {
  padding: 10px;
  border: none;
  border-top: 1px solid #f2f2f2; /* Adds a border between rows */
}


/* Responsive design for larger screens */


/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .detailsContainer {
    padding: 15px;
  }

  .title {
    font-size: 2rem;
  }

  th,
  td {
    font-size: 0.9rem;
    padding: 10px;
  }

  .table {
    width: 100%;
  }
}
