/* Main container for the Traffic page */
.trafficContainer {
  padding: 20px;
  text-align: left; /* Align the main title to the left */
  overflow: auto;
}

.trafficTitle {
  font-size: 1.6rem; /*  font size */
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
  font-family: "Arial", sans-serif;
  text-align: left; /* Ensures main title alignment remains left */
}

/* Grid container for cards */
.trafficGridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  padding: 15px 0;
  justify-content: center;
}

.trafficCard {
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.4s;
  padding: 16px;
}

.trafficCard:hover {
  transform: scale(1.05);
}

.trafficCardImage {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

.trafficCardTitle {
  font-size: 1.2rem; /* Reduced font size */
  font-weight: 600; /* Slightly lighter weight for better balance */
  margin-top: 12px;
  color: #555;
  font-family: "Arial", sans-serif;
  text-align: center;
}

/* Modal styles */
.trafficModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.trafficModalContent {
  background-color: white;
  border-radius: 16px;
  padding: 30px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
  position: relative;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.trafficCloseButton {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 24px;
  color: #555;
  background: none;
  border: none;
  cursor: pointer;
}

.trafficCloseButton:hover {
  color: black;
}

.modalTitle {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: #333;
  text-align: center; /* Modal titles are centered */
}

.trafficInfo {
  margin-bottom: 20px;
  font-size: 1rem;
  color: #666;
  text-align: center; /* Center align traffic info */
}

.trafficDetailsButton {
  margin-top: 20px;
  margin-left: 10px;
  padding: 12px 25px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
}

.trafficDetailsButton:hover {
  background-color: #0056b3;
}

/* Traffic grid inside the modal */
.trafficGrid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
  text-align: center; /* Content inside grid is center aligned */
}

.trafficItem {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.trafficItem:last-child {
  border-bottom: none;
}
