.help-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    width: 100%;

    display: block;
    align-content: center;
}

.help-container h3 {
    margin-bottom: 20px;
    font-size: 1rem;
    color: #333;
}

.about-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about-section {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    cursor: pointer;
    transition: all 0.5s ease;
    display: flex;
    justify-content: space-between;
}

.about-section h2 {
    margin: 0;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-section p {
    margin: 10px 0 0;
    font-size: 0.9rem;
    color: #555;
}

.about-section.active {
    background-color: #f9f9f9;
    transform: scale3d(1.02, 1.02, 1.02);
}