.container{
    /* background-color: grey; */
    border-radius: 10px;
    padding: 100px 80px ;
    height: 50vh;
    position: absolute;
    top: 10%;
    left: 35%;
    box-shadow: 2px 4px 8px gray;
}
.container label{
    margin-right: 10px;
    /* font-weight: bold; */
    display: block;
    text-transform: uppercase;
    font-size: 16px;
    color: white;
    /* letter-spacing: 2px; */
    text-align: left;
}
.container input{
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 94%;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
    transition: 0.3s ease-in-out;
    background-color: rgb(196, 207, 199);
    color: white;
    letter-spacing: 1px;

}
.container input:focus{
    background-color: rgb(165, 157, 157);
    border: 1px solid rgb(168, 160, 160);
}
.submit input{
    background-color: rgba(35, 50, 187, 0.685);
    width: fit-content;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 7px 30px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    margin-top: 70px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    left: 60px;
}
.submit input:hover{
    background-color: rgb(156, 149, 149);
    color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}
h3{
    text-align: center;
    color: rgb(43, 212, 10);
    font-size: 30px;
    margin-bottom: 20px;
} 
.showPassword{
    display: flex;
    flex-direction: row;
    align-items: right;
    width: 100px;
    position: relative;
    left: 100px;
    color: black;
}
.showPassword label{
    display: flex;
    flex-direction: row;
    font-weight: lighter;
    font-size: small;
    white-space:nowrap;
    text-transform: lowercase;
    margin-left: 5px;
    color: black;
}
.showPassword input[type="checkbox"]{
    margin-right: 5px;
    cursor: pointer;
    background-color: white;
}
.forget{
    text-align: left;
    font-size: small;
    cursor: pointer; 
}
.forget a{
    text-decoration: none;
    color: rgb(23, 23, 207);
}
.forget:hover{
    text-decoration: underline;
}
.forget:active{
    text-decoration: none;
}
